.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  display: flex;
  align-self: center;
}

.productTopLeft,
.productTopRight {
  flex: 1;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productTopLeft {
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.atualizarEstadoTransacao {
  display: flex;
}

#idEstadoTransacao {
  height: 100%;
  width: fit-content;
  margin-left: 1rem;
  border-radius: 4px 0px 0px 4px;
}
.enderecoContainerTransacao {
  display: flex;
  flex-direction: column;
}

.productName {
  font-weight: 600;
  align-self: center;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  flex-wrap: wrap;
}

.productFormLeft {
  flex-basis: 33.333333% !important;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft > select {
  margin-bottom: 10px;
}

.productUploadImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload {
  display: flex;
  align-items: center;
}

.totalCompraDiv {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.productButton {
  height: 100%;
  border: none;
  padding: 7px 17px 7px 17px;
  border-radius: 0px 4px 4px 0px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
